@mixin gradiente($cor) {
  background-image: $cor;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

@mixin botao($color, $bgColor) {
  border: 1px solid $color;
  background-color: $bgColor;
  color: $color;
}

@mixin alerta($fundo, $fonte) {
  background-color: $fundo;
  color: $fonte;

  h3 {
    font-size: 20px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
  }

  .alertas_card__titulo::before {
    vertical-align: -35%;
    padding-right: 10px;
  }
}
