.exames__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 280px;
  height: 200px;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

  font-family: Inter, sans-serif;

  &-titulo {
    font-size: 20px;
    font-weight: bold;

    margin-block: 1rem;
  }

  &-texto {
    font-size: 18px;

    margin-block: 1rem;
  }
}
