@media screen and (min-width: 768px) {
  .cabecalho {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    background-image: url("../../images/bannerHeader.svg");
    background-size: 100% auto; 
    background-position: center top;
    background-repeat: no-repeat;
    aspect-ratio: 1920/800;
    height: auto;
    overflow: hidden;
  }
}
