.prevencao__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  font-family: Roboto;

  padding: 1rem;
  width: 250px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  &-titulo {
    font-size: 20px;
    font-weight: bold;
  }

  &-lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-left: 2rem;
    list-style-type: disc;
    text-align: left;
    font-size: 14px;
  }
}